<script type="text/javascript" src="/apps/admin/js/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/apps/admin/js/top-bar.js"></script>
<link rel="stylesheet" type="text/css" href="/apps/admin/css/jquery.jgrowl.css"></script>
<link rel="stylesheet" type="text/css" href="/apps/admin/css/top-bar.css"></script>
