<form method="POST" action="/admin">
<p>{"Email"}:<br />
<input type="text" name="username" value="{{ $_POST.username }}" /></p>
<p>{"Password"}:<br />
<input type="password" name="password" value="{{ $_POST.password }}" /></p>
<p><input type="submit" value="{"Sign in"}" /></p>
</form>
