div#lettering_top,
div#lettering_bottom {
	height: 98px;
	background: url('../static/lettering_s1.png') center center repeat-x;
}

div#lettering_top {
	margin: 0 0 25px 0;
}
div#lettering_bottom {
	margin: 25px 0 0 0;
}

div#foreground_outer_wrapper {
  background: url('../static/transition_bg_top_s1.png') top center repeat-x;
}
div#foreground_outer {
	background: url('../static/transition_bg_bottom_s1.png') bottom center repeat-x;
	padding: 40px 0;
}

div#foreground_inner {
	background: url('../static/foreground_bg_s1.png') top center repeat;
	text-align: center;
	overflow: hidden;
}

div#container {
  height: 400px;
	padding: 40px 0;
  background: url('../static/name_s1.png') top center no-repeat;
}

div#navigation {
	height: 50px;
	margin: 172px 0 15px 0;
}
div#navigation {
	font-size: 19px;
	font-weight: bold;
	line-height: 50px;
}
div#navigation, div#navigation a {
	color: #FFF !important;
}