body {
	background: url('../static/background.jpg') top center repeat;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#fb-root {
	display: none;
}

#wrapper {
	margin: 28px auto 25px auto;
	padding: 20px 15px 0px 15px;
	background: url('../static/content_bg_s1.png') center center repeat;
	-moz-box-shadow: 0px 0px 4px #aaa;
	-webkit-box-shadow: 0px 0px 4px #aaa;
	box-shadow: 0px 0px 4px #aaa;
}

#head {
	border-bottom: 4px solid #ddd;
}

	#head h1 {
		padding-bottom: 10px;
		margin-bottom: 0px;
		color: #444;
	}

	#head .menu {
		text-align: right;
	}

	#head .menu ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		margin-top: 15px;
		margin-bottom: 0px;
	}

	#head .menu ul li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		display: inline;
	}

	#head .menu ul li a {
		padding: 5px 12px 5px 12px;
		font-weight: bold;
		text-decoration: none;
	}

	#head .menu ul li a:hover {
		background: #E4426B;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}

#body {
	padding-top: 15px;
}

	.block {
		padding-bottom: 20px;
	}

	.block h3 {
		margin-bottom: 0px;
	}

	.info {
		color: #777;
		margin-bottom: 0px;
	}

	.blog-tags a {
		text-decoration: none;
		color: #999;
		margin-right: 4px;
	}

	.blog-tags a:hover {
		text-decoration: underline;
		color: #777;
	}

	iframe.twitter-share-button {
		margin-bottom: -2px;
	}
	
	#___plusone_0 iframe {
		margin-bottom: -2px;
	}

.index-body #slideshow img {
	width: 940px;
}

.index-body table td {
	width: 33%;
	border-left: 1px dotted #ddd;
	padding-left: 10px;
}

	.index-body table td:first-child {
		border-left: 0px;
		padding-left: 0px;
	}

#sidebar {
	padding-top: 15px;
}

#footer {
	border-top: 4px solid #ddd;
	padding-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

	#footer .menu ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	#footer .menu ul li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	.powered {
		text-align: right;
	}
