body {
	background: #eee;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 21px;
}

a {
	color: #8A5AB5;
	text-decoration: none;
}

a:hover {
	color: #A753CC;
	text-decoration: underline;
}

a.next {
	float: right;
	padding: 7px 7px 0px 0px;
	color: #A753CC;
}

h1 {
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
	padding-right: 7px;
	font-size: 21px;
	padding-left: 150px;
}

	h1>span {
		color: #A753CC;
		font-style: italic;
	}

h2 {
	padding: 0px;
	margin: 0px;
}

.notice {
	color: #8A5AB5;
}

#wrapper {
	width: 640px;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#steps {
	width: 150px;
	float: left;
	padding: 0px;
	margin: 0px;
}

	#steps ul {
		padding: 0px;
		margin: 0px;
	}

	#steps ul li {
		padding: 7px 0px 7px 10px;
		list-style-type: none;
		color: #333;
	}

	#steps ul li.active {
		background: #f5f5f5;
		color: #8A5AB5;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-box-shadow: 0px 0px 5px #aaa;
		-webkit-box-shadow: 0px 0px 5px #aaa;
		box-shadow: 0px 0px 5px #aaa;
	}

#body {
	color: #222;
	width: 485px;
	float: left;
	background: #f5f5f5;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #aaa;
	-webkit-box-shadow: 0px 0px 5px #aaa;
	box-shadow: 0px 0px 5px #aaa;
	margin-left: -2px;
}

#content {
	padding: 0px 20px 5px 20px;
	min-height: 300px;
}
