<!DOCTYPE html>
<html>
<head>
	<title>{{ conf('General', 'site_name') }} - {{ window_title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/css/960.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/homepage.css" />
	{! admin/head !}
	{{ head|none }}
	<script src="/static/slider/jQuery.YMslider-min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/slider/css/jQuery.YMslider.core-min.css" />
	<link rel="stylesheet" type="text/css" href="/static/slider/css/jQuery.YMslider.default-min.css" />
</head>
<body>

<div id="page">
  <div id="lettering_top">&nbsp;</div>

  <div id="foreground_outer_wrapper"><div id="foreground_outer">
    <div id="foreground_inner"><div id="container">
      <div id="navigation">
        {! admin/menu !}
      </div>
      <ul id="testimonials">
        <li><a href="./testimonials">"Cindy's extensive knowledge of what motivates us, what helps us learn, as well as strategies to make changes in our lives was instrumental in our program's success."<br><small>Read More...</small></a></li>
        <li><a href="./testimonials">"Cindy's wisdom and experience provided a safe and supportive environment, and I recommend her to anyone who is looking to affect positive change in their life."<br><small>Read More...</small></a></li>
        <li><a href="./testimonials">"I've realized through my work with Cindy that, with a few small changes, a bit of determination, and a dash of optimism, when life throws that annoying curveball, I can stand firm and catch it instead of cowering behind my mitt."<br><small>Read More...</small></a></li>
      </ul>
    </div></div>
  </div></div>

  <div id="lettering_bottom">&nbsp;</div>
</div>

<script>
jQuery.fn.center = function () {
    this.css("margin-top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
    /*this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px"); */
    return this;
}

$(function() {
	var nav_items = [];
	$('#navigation ul li').each(function() {
		nav_items.push($(this).html());
	});
	
	var nav_string = nav_items.join(' &bull; ');
	$('#navigation').html(nav_string);
	
	$('#page').center();
	$(window).bind('resize', function() {
    $('#page').center();
  });
  
  $("#testimonials").YMslider();
});
</script>

{{ tail|none }}
</body>
</html>