<!DOCTYPE html>
<html>
<head>
	<title>Elefant Installer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script>
		function toggle (show) {
			if (show == 'sqlite') {
				document.getElementById ('sqlite').style.display = 'block';
				document.getElementById ('mysql').style.display = 'none';
			} else {
				document.getElementById ('sqlite').style.display = 'none';
				document.getElementById ('mysql').style.display = 'block';
			}
		}
		{% if $_POST.driver == 'mysql' %}
		window.onload = function () {
			toggle ('mysql');
		};
		{% end %}
	</script>
</head>
<body>
<div id="wrapper">
	<h1><span>Elefant</span> Installer</h1>
	
	<div id="steps">
		<ul>
			<li>Introduction</li>
			<li>License</li>
			<li>Requirements</li>
			<li class="active">Database</li>
			<li>Settings</li>
			<li>Finished</li>
		</ul>
	</div>

	<div id="body"><div id="content">

{% if error %}
<h3>Connection Error:</h3>
<p class="notice">{{ error }}</p>
{% else %}
<h3>Database Connection</h3>
{% end %}

{% if ready %}
<p>Database tables created and settings saved.</p>

<p>Click "Next" to continue.</p>
{% else %}
<form method="POST" action="/install/?step=database">
<input type="hidden" name="file" value="../conf/site.db" />

<p>SQLite users can simply click "Connect &amp; Create Schema". MySQL users please select your driver and enter your server details to continue.</p>

<p>Driver:<br />
<select name="driver" onchange="toggle (this.options[this.selectedIndex].value)">
	<option value="sqlite">SQLite</option>
	<option value="mysql" {% if $_POST.driver == 'mysql' %}selected{% end %}>MySQL</option>
</select></p>

<div id="sqlite">
<p>File:<br /><tt>conf/site.db</tt></p>
</div>

<div id="mysql" style="display: none">
<p>Server:<br />
<input type="text" name="host" value="{{ $_POST.host }}" size="30" /></p>
<p>Port:<br />
<input type="text" name="port" value="{{ $_POST.port }}" size="15" /></p>
<p>Database:<br />
<input type="text" name="name" value="{{ $_POST.name }}" size="25" /></p>
<p>Username:<br />
<input type="text" name="user" value="{{ $_POST.user }}" size="25" /></p>
<p>Password:<br />
<input type="password" name="pass" value="{{ $_POST.pass }}" size="25" /></p>
</div>

<p><input type="submit" value="Connect &amp; Create Schema" /></p>
</form>
{% end %}

	</div></div>
	{% if ready %}
	<a class="next" href="/install/?step=settings">Next: Settings</a>
	{% end %}
</div>
</body>
</html>
