<!DOCTYPE html>
<html>
<head>
	<title>Elefant Installer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="wrapper">
	<h1><span>Elefant</span> Installer</h1>
	
	<div id="steps">
		<ul>
			<li>Introduction</li>
			<li>License</li>
			<li class="active">Requirements</li>
			<li>Database</li>
			<li>Settings</li>
			<li>Finished</li>
		</ul>
	</div>

	<div id="body"><div id="content">

<h3>Testing Requirements</h3>

{% if passed %}
<p>Server requirements have been verified.</p>

<p>Click "Next" to continue.</p>
{% else %}
<p>One or more server requirements failed:</p>

<ul>
{% foreach req %}
	{% if loop_value < 1 %}
	<li>{{ loop_index|none }}</li>
	{% end %}
{% end %}
</ul>

<p>Please correct the problem and try again.</p>
{% end %}

	</div></div>
	{% if passed %}
	<a class="next" href="/install/?step=database">Next: Database</a>
	{% else %}
	<a class="next" href="/install/?step=requirements">Try Again</a>
	{% end %}
</div>
</body>
</html>
