body {
	background: #f5f5f5;
	color: #333;
	padding-top: 0px !important;
}

a {
	color: #8A5AB5;
}

a:hover {
	color: #A753CC;
}

h1, h2 {
	color: #222;
}

table {
	empty-cells: show;
}

table tr:hover {
	background: #eee;
}

table tr th {
	padding: 5px 7px 5px 7px;
	border-bottom: 1px solid #666;
	font-weight: bold;
	background: #f5f5f5;
}

table tr th a {
	font-weight: normal;
}

table tr td {
	padding: 5px 7px 5px 7px;
	border-bottom: 1px solid #ccc;
}

tt {
	color: #000;
	background: #f5f5f5;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.notice {
	color: #8A5AB5;
	display: none;
}

.autosave-notice {
	display: none;
	border: 1px solid #fcd9a1;
	background: #faf7e5;
	padding: 3px 3px 3px 7px;
}

.different {
	background: #e5f2ff;
}

.different:hover {
	background: #def;
}

#extra-options {
	display: none;
}

	.extra-options-link {
		color: #333;
		text-decoration: none;
	}

	.extra-options-link:hover {
		color: #333;
		text-decoration: none;
	}

	.arrow {
		display: block;
		float: left;
		width: 16px;
		height: 20px;
		margin-top: 3px;
		padding-right: 5px;
		background-image: url(admin/arrow-down.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.arrow-off {
		background-image: url(admin/arrow-right.png) !important;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

.embedded {
	padding: 5px;
	background: #ddd;
	border: 1px solid #bbb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top,  #eee,  #ccc);
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	white-space: nowrap;
}

input[type=text], input[type=password], textarea {
	font-size: 12px;
	border: 1px solid #999;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 2px 4px;
    text-shadow: 0 1px 0 #fff;
}

input[disabled] {
	background: #eee;
}

input[type=submit] {
    font-size: 12px;
	border: 1px solid #ddd;
    background: #e5e5e5;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#eee),to(#e5e5e5));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#eee),to(#e5e5e5));
    border: solid 1px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #555;
    padding: 5px 10px;
    text-shadow: 0 1px 0 #fff;
}

input[type=submit]:hover {
	color: #333;
	border: 1px solid #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.wysiwyg-embed-objects {
	width: 38%;
	float: left;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}

.wysiwyg-embed-object-list {
	padding-left: 0px;
	margin-left: 0px;
}

.wysiwyg-embed-object-list li {
	list-style-type: square;
	margin-left: 10px;
	padding-left: 0px;
}

.wysiwyg-embed-objects .simplePagerNav {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

.wysiwyg-embed-objects .simplePagerNav li {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	display: inline
}

.wysiwyg-embed-objects .simplePagerNav li a {
	display: block;
	float: left;
	padding: 3px 6px 3px 6px;
	background: #eee;
	color: #333;
	text-decoration: none;
}

.wysiwyg-embed-objects .simplePagerNav li.currentPage a {
	display: block;
	float: left;
	padding: 3px 6px 3px 6px;
	background: #8A5AB5;
	color: #fff;
	text-decoration: none;
}

.wysiwyg-embed-object-form {
	width: 58%;
	float: left;
}

#wrapper {
	padding-top: 40px;
}

.nav {
	text-align: right;
}

	.nav a {
		padding: 2px 7px 5px 7px;
		margin-left: 1px;
		background-color: #111;
		color: #f5f5f5;
		/*font-weight: bold;*/
		text-decoration: none;
	}

	.nav a:hover {
		color: #A753CC;
		border-top: 3px solid #A753CC;
		padding-top: 2px;
	}

#head {
	border-top: 3px solid #111;
	padding-bottom: 0px;
}

	#head h1 {
		width: 165px;
		height: 37px;
		background-color: #111;
		color: #f5f5f5;
		padding: 2px 5px 5px 15px;
		margin-left: 0px;
		float: left;
	}
	
	#slogan {
		float: left;
		padding-left: 20px;
		padding-top: 13px;
		font-size: 16px;
	}
	
	#head h1 em {
		color: #A753CC;
		font-style: italic;
		margin-right: -3px;
	}

#footer {
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-top: 25px;
	padding-bottom: 15px;
}

	.copyright {
		text-align: right;
	}
